@model IEnumerable<MovieViewModel>
@{
    ViewData["Title"] = "Главная";
}

<div class="movie-list">
    @if(User.Identity.IsAuthenticated)
    {
        <div class="movie-list__header pr-2 d-flex justify-content-end">
            <a class="movie-list__btn-add btn btn-outline-info btn-sm" asp-controller="Home" asp-action="Create">
                <i class="fa fa-plus" aria-hidden="true"></i> Добавить
            </a>
        </div>
    }
    <div class="row mt-3">
        <div class="col-md-12 d-flex flex-wrap justify-content-center">
            @foreach (var movie in Model)
            {
                <div class="card mr-2 mb-2" style="width: 16rem;">
                    <a asp-controller="Home" asp-action="Details" asp-route-id="@movie.Id">
                        <img src="/uploads/@movie.Post" class="card-img-top" alt="@movie.Name">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">@movie.Name</h5>
                        <div class="card-subtitle">@movie.ProducerName</div>
                        <p class="card-text">@movie.Year</p>
                        <a asp-controller="Home" asp-action="Details" asp-route-id="@movie.Id" class="btn-link">Подробнее</a>
                    </div>
                </div>
            }
        </div>
    </div>
    
    <nav class="d-flex justify-content-center mt-3">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

    <div id="confirmDeleteMovieModal" class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Удаление!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Вы действительно хотите удалить: <span class="font-weight-bold"></span>!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Отмена</button>
                    <a href="" class="movie-list__btn-confirm btn btn-outline-info">Удалить</a>
                </div>
            </div>
          </div>
    </div>
</div>