@model MovieIndexViewModel
@{
    ViewData["Title"] = "Главная";
}
<div class="movie-list">
    @if(User.Identity.IsAuthenticated)
    {
        <div class="movie-list__header pr-2 d-flex justify-content-end">
            <a class="movie-list__btn-add btn btn-outline-info btn-sm" asp-controller="Home" asp-action="Create">
                <i class="fa fa-plus" aria-hidden="true"></i> Добавить
            </a>
        </div>
    }
    <div class="movie-list__data row mt-3">
        <div class="col-md-12 d-flex flex-wrap justify-content-center">
            @foreach (var movie in Model.Data)
            {
                <div class="card mr-2 mb-2" style="width: 16rem;">
                    <a asp-controller="Home" asp-action="Details" asp-route-id="@movie.Id">
                        <img src="/uploads/@movie.Post" class="card-img-top" alt="@movie.Name">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">@movie.Name</h5>
                        <div class="card-subtitle">@movie.ProducerName</div>
                        <p class="card-text">@movie.Year</p>
                        <a asp-controller="Home" asp-action="Details" asp-route-id="@movie.Id" class="btn-link">Подробнее</a>
                    </div>
                    @if (movie.IsEdited)
                    {
                        <div class="position-absolute" style="right: 10px; top: 10px;">
                            <a asp-controller="Home" asp-action="Edit" asp-route-id="@movie.Id">
                                <i class="fa fa-edit fa-lg text-light mr-1"></i>
                            </a>
                            <a href="javascript:void(0)" class="movie-list__btn-remove" data-id="@movie.Id" data-name="@movie.Name">
                                <i class="fa fa-trash fa-lg text-light"></i>
                            </a>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
    <partial name="Home/_PaginationPartial" />
    <partial name="Home/_ConfirmModalPartial" />
</div>