@model IEnumerable<ProducerViewModel>
@{
    ViewData["Title"] = "Режиссеры";
}

<div class="producer-list">
    <div class="producer-list__header d-flex justify-content-end">
        <a class="producer-list__btn-add btn btn-outline-info btn-sm" asp-controller="Producer" asp-action="Create">
            <i class="fa fa-plus" aria-hidden="true"></i> Добавить
        </a>
    </div>
    <table class="producer-list__table table table-hover mt-2">
        <thead>
        <tr>
            <th scope="col">Режиссеры</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var producer in Model)
        {
            <tr>
                <td>@producer.Name</td>
                <td>
                    <a class="btn btn-outline-info btn-sm"
                       asp-controller="Producer"
                       asp-action="Details"
                       asp-route-id="@producer.Id"
                       data-toggle="tooltip"
                       data-placement="top"
                       title="Подробнее"
                    >
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                    </a>
                    <a class="btn btn-outline-info btn-sm"
                       asp-controller="Producer"
                       asp-action="Edit"
                       asp-route-id="@producer.Id"
                       data-toggle="tooltip"
                       data-placement="top"
                       title="Редактировать"
                    >
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </a>
                    <a class="producer-list__btn-remove btn btn-outline-danger btn-sm"
                       href="javascript:void(0)"
                       data-toggle="tooltip"
                       data-placement="top"
                       title="Удалить"
                       data-id="@producer.Id"
                       data-name="@producer.Name"
                    >
                        <i class="fa fa-trash-o"  aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>

    <div id="confirmDeleteProducerModal" class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Удаление!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Вы действительно хотите удалить: <span class="font-weight-bold"></span>!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Отмена</button>
                    <a href="" class="producer-list__btn-confirm btn btn-outline-info">Удалить</a>
                </div>
            </div>
          </div>
    </div>
</div>